[Unit]
Description=Chatapp Frontend Web Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/chatapp-infra/frontend
ExecStart=npm install && npm run build && npm run preview

Restart=on-failure

[Install]
WantedBy=multi-user.target
