[Unit]
Description=Chatapp Backend Web Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/chatapp-infra/backend
ExecStart=/usr/bin/npm run start

Restart=on-failure

[Install]
WantedBy=multi-user.target
