[Unit]
Description=Chatapp Frontend Web Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/chatapp-infra/frontend
ExecStart=/usr/bin/npm i && /usr/bin/npm run build && /usr/bin/npm run start

Restart=on-failure

[Install]
WantedBy=multi-user.target
